#information {
	background-color: green;
	width: 30px;
	height: 30px;
	position: absolute;
}

#score {
	font-family: 'VT323', monospace;
	font-size: 7vh;
	color: #ffffff;
	text-align: center;
	background-color: #239D9E;
	border-radius: 1.4vh;
	box-shadow: 0 0.6vh #00868F, 0 1vh #60968E;
	padding: 2px;
	width: 15vh;
	position: absolute;
	top: 8%;
	left: 10%;
}

#level {
	font-family: 'VT323', monospace;
	font-size: 5vh;
	color: #ffffff;
	text-align: center;
	position: absolute;
	top: 17%;
	left: 10.5%;
}

#timer {
  font-size: 20vh;
  color: #ffffff;
  font-weight: 600;
  text-shadow: 0 6px (0,0,0,1);
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace;
  transition: .40s;
}



/*			Starting of the Game			*/
#startMenu {
	font-size: 20vh;
	color: #ffffff;
	text-align: center;
	background-color: #239D9E;
	width: 80vh;
	height: 50vh;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: flex-end;
	position: relative;
	border-radius: 1.4vh;
	box-shadow: 0 0.8vh #00868F, 0 1.4vh #60968E;
	bottom: -10%;
}

.start {
	font-size: 5vh;
	align-self: center;
	color: white;
	position: relative;
  bottom: -20%;
	animation: blinkStart 1s steps(4, start) infinite;
}
/*			Starting of the Game			*/

/*			End of the Game Result			*/
#result {
	/*font-family: 'VT323', monospace;*/
	font-size: 8vh;
	color: #ffffff;
	text-align: center;
	background-color: #239D9E;
	width: 60vh;
	height: 40vh;
	margin: 0 auto;
	align-self: flex-end;
	/*top: 30%;*/
	position: relative;
	border-radius: 1.4vh;
	box-shadow: 0 0.8vh #00868F, 0 1.4vh #60968E;
	animation: resultFalling 1.25s cubic-bezier(0.36, 0.46, 0.27, 1.55)0s 1;
	animation-fill-mode: forwards;
}

#resultText {
	position: relative;
	top: 30%;
}

.absoluteWrapper {
	position: absolute;
	z-index: 9999;
	width: 100%;
	height: 100%;
	bottom: 0;
	display: flex;
	flex-direction: column;
	left: 0;
}

@keyframes resultFalling {
  0% {
  	bottom: 100%;
}
	50% {
		bottom: 28%;
}
	75% {
		bottom: 38%;
	}
  100% {
  	bottom: 28%;
  }

}


/*			End of the Game Result			*/