/*							This CSS file consists:						*/
/*		Wrapper, Boxes, Countdown, Score, Level 1		*/

html {
	height: 100%;
}

body{
 	font-family: 'VT323', monospace;
	color: white;
	margin: 0;
	height: 100%;
}

#bapak {
	/*background-color: green;*/
	position: relative;
	margin: 0 auto;
	text-align: center;
	display: flex;
	height: inherit;
	bottom: 10vh;
}

#wrapper {
  /*background-color: green;*/
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10vh;
  flex-direction: inherit;
}

/* https://www.kirupa.com/html5/make_body_take_up_full_browser_height.htm */
/* https://stackoverflow.com/questions/7570438/height-of-a-div-to-match-the-height-of-the-viewport */

/*		Main Div for Each Color		*/

#redBoxesMatters {

	display: flex;
	flex-direction: column;
	align-self: flex-end;
	/*position: absolute;*/
	bottom:0 ;
	left: 0;
}

#yellowBoxesMatters {
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	/*position: absolute;*/
	bottom:0 ;
	left:75px;
}

#greenBoxesMatters {
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	/*position: absolute;*/
	bottom:0 ;
	left:150px;
}

#blueBoxesMatters {
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	/*position: absolute;*/
	bottom:0 ;
	left:225px;
}

#maroonBoxesMatters {
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	/*position: absolute;*/
	bottom:0 ;
	left:300px;
}


/*		Boxes		*/

.redBoxBorder {
	width: 65px;
	height: 65px;
	border: 5px solid #E27D5F;
	border-style: dashed;
	border-radius: 10px;
}

.redBox {
	width: 75px;
	height: 75px;
	background-color: #E27D5F;
	border-radius: 10px;
}

.yellowBoxBorder {
	width: 65px;
	height: 65px;
	border: 5px solid #E8A87C;
	border-style: dashed;
	border-radius: 10px;
}

.yellowBox {
	width: 75px;
	height: 75px;
	background-color: #E8A87C;
	border-radius: 10px;
}

.greenBoxBorder {
	width: 65px;
	height: 65px;
	border: 5px solid #40B3A2;
	border-style: dashed;
	border-radius: 10px;
}

.greenBox {
	width: 75px;
	height: 75px;
	background-color: #40B3A2;
	border-radius: 10px;
}

.blueBoxBorder {
	width: 65px;
	height: 65px;
	border: 5px solid #85CECA;
	border-style: dashed;
	border-radius: 10px;
}

.blueBox {
	width: 75px;
	height: 75px;
	background-color: #85CECA;
	border-radius: 10px;
}

.maroonBoxBorder {
	width: 65px;
	height: 65px;
	border: 5px solid #C38D9D;
	border-style: dashed;
	border-radius: 10px;
}

.maroonBox {
	width: 75px;
	height: 75px;
	background-color: #C38D9D;
	border-radius: 10px;
}