#carousel {
	text-align: center;
	width: 100vh;
	height: 65vh;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: flex-end;
	position: relative;
	background-color: #239D9E;
	border-radius: 1.4vh;
	box-shadow: 0 0.8vh #00868F, 0 1.4vh #60968E;
	bottom: -27%;
}

.imageDiv {
	background-color: #ffffff;
	width: 90%;
	height: 80%;
}

.halfY-container {
	height: 65%;
	display: flex;
	flex-direction: row;
}

.instructions {
	height: 100%;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	left: 0;
}

.examples {
	width: 100%;
	height: 70%;
	order:1;
}

.description {
	display: flex;
	justify-content: center;
	padding: 0 7vh;
	height: 30%;
	order: 2;
}

.instructions p {
	min-height: 12vh;
	color: white;
	font-size: 3vh;
	padding: 0;
	margin: 0;
}