html {
	background-color: #80C8BD;
}

#bapak {
/*	background-color: green;*/
	position: relative;
	margin: 0 auto;
	width: 500px;
	height:500px;
	text-align: center;
}

#wrapper {
/*	background-color: black;*/
	position: relative;
	margin: 0 auto;
	width: 225px;
	height:550px;
	text-align: center;
}

#redBoxesMatters {
	display: inline-block;
	position: absolute;
	bottom:0 ;
	left: 0;
}

#yellowBoxesMatters {
	display: inline-block;
	position: absolute;
	bottom:0 ;
	left:75px;
}

#greenBoxesMatters {
	display: inline-block;
	position: absolute;
	bottom:0 ;
	left:150px;
}


.redBoxBorder {
	width: 65px;
	height: 65px;
	border: 5px solid #E27D5F;
	border-style: dashed;
	border-radius: 10px;
}

.redBox {
	width: 75px;
	height: 75px;
	background-color: #E27D5F;
	border-radius: 10px;
}

.yellowBoxBorder {
	width: 65px;
	height: 65px;
	border: 5px solid #E8A87C;
	border-style: dashed;
	border-radius: 10px;
}

.yellowBox {
	width: 75px;
	height: 75px;
	background-color: #E8A87C;
	border-radius: 10px;
}

.greenBoxBorder {
	width: 65px;
	height: 65px;
	border: 5px solid #40B3A2;
	border-style: dashed;
	border-radius: 10px;
}

.greenBox {
	width: 75px;
	height: 75px;
	background-color: #40B3A2;
	border-radius: 10px;
}

#timer {
  font-size: 8em;
  color: #ffffff;
  font-weight: 600;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  font-family: tahoma;
/*  background: none;
  outline: none;
  border: none;
  cursor: pointer;*/
  transition: .40s;
}


