html {
	background-color: #80C8BD;
}

/*
#bapak {
	position: relative;
	margin: 0 auto;
	background-color: grey;
	width: 500px;
	height: 500px;
	text-align: center;

}*/

#bapak {
/*	background-color: green;*/
	position: relative;
	margin: 0 auto;
	width: 500px;
	height:500px;
	text-align: center;
}

#wrapper {
/*	background-color: black;*/
	position: relative;
	margin: 0 auto;
	width: 225px;
	height:500px;
	text-align: center;
}

#redBoxesMatters {
	display: inline-block;
	position: absolute;
	bottom:0 ;
	left: 0;
}

#yellowBoxesMatters {
	display: inline-block;
	position: absolute;
	bottom:0 ;
	left:75px;
}

#greenBoxesMatters {
	display: inline-block;
	position: absolute;
	bottom:0 ;
	left:150px;
}



.redBoxBorder {
	width: 65px;
	height: 65px;
	border: 5px solid #E27D5F;
	border-style: dashed;
	border-radius: 10px;
}

.redBox {
	width: 75px;
	height: 75px;
	background-color: #E27D5F;
	border-radius: 10px;
}

.yellowBoxBorder {
	width: 65px;
	height: 65px;
	border: 5px solid #E8A87C;
	border-style: dashed;
	border-radius: 10px;
}

.yellowBox {
	width: 75px;
	height: 75px;
	background-color: #E8A87C;
	border-radius: 10px;
}

.greenBoxBorder {
	width: 65px;
	height: 65px;
	border: 5px solid #40B3A2;
	border-style: dashed;
	border-radius: 10px;
}

.greenBox {
	width: 75px;
	height: 75px;
	background-color: #40B3A2;
	border-radius: 10px;
}



