/*							This CSS file consists:							*/
/*		Background Transitions, End of Game Result		*/





/*			Changing Background Color			*/

.redToYellowBG {
	animation: redToYellowBg 1.25s ease-in-out 0s 1;
	animation-fill-mode: forwards;
}

@keyframes redToYellowBg {
  0% {
  	background-color: #E8977F;
}
  100% {
  	background-color: #EDB996;
  }

}

.yellowToGreenBG {
	animation: yellowToGreenBG 1.25s ease-in-out 0s 1;
	animation-fill-mode: forwards;
}
@keyframes yellowToGreenBG {
  0% {
  	background-color: #EDB996;
}
  100% {
  	background-color: #80C8BD;
  }
 }

.greenToBlueBG {
	animation: greenToBlueBG 1.25s ease-in-out 0s 1;
	animation-fill-mode: forwards;
}

@keyframes greenToBlueBG {
  0% {
  	background-color: #80C8BD;
}
  100% {
  	background-color: #B6E2DF;
  }
}

.blueToMaroonBG {
	animation: blueToMaroonBG 1.25s ease-in-out 0s 1;
	animation-fill-mode: forwards;
}

@keyframes blueToMaroonBG {
  0% {
  	background-color: #B6E2DF;
}
  100% {
  	background-color: #CFA4B1;
  }
}





/*			End of the Game Result			*/

#result {
	font-family: 'VT323', monospace;
	font-size: 3em;
	color: #ffffff;
	text-align: center;
	background-color: #239D9E;
	width: 400px;
	height: 250px;
	position: absolute;
	left: 34.5%;
	border-radius: 10px;
	box-shadow: 0 5px #00868F, 0 8px #60968E;
	animation: resultFalling 1.25s cubic-bezier(0.36, 0.46, 0.27, 1.55)0s 1;
	animation-fill-mode: forwards;
}

#resultText {
	position: relative;
	top: 30%;
}

@keyframes resultFalling {
  0% {
  	bottom: 100%;
}
	50% {
		bottom: 28%;
}
	75% {
		bottom: 38%;
	}
  100% {
  	bottom: 28%;
  }

}

